@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

.header-font{
    font-family: 'Bebas Neue', cursive;
    color: 	#22D3EE;
    font-size: 60px;
}
.subheader-font{
    color:#FCD34D;
}